#root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#editor, 
#preview {
  border: 1px solid black;
  outline: none;
  resize: none;
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 10px;
}

#preview *:first-child {
  margin-top: 0;
}
