ol, ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body { 
  background-color: #111;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}

#app {
  /* Vertical centring on the page */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #222;
  border-radius: 5px;
}

.display {
  text-align: center;
  margin-bottom: 15px;
  padding: 15px 20px;
  background-color: #000;
  border-radius: 5px;
  color: white;
}
.display h3 {
  margin: 3px 0;
  font-size: 18px;
}
.display p {
  margin: 0;
  font-size: 36px;
  letter-spacing: .15em;
}
 
#controls ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 15px;
  justify-content: center;
}

#controls li { text-align: center; }
#controls li button {
  cursor: pointer;
  border-radius: 100%;
  border: 0px;
  background-color: #999;
  height: 40px;
  width: 40px;
  color: white;
  font-size: 16px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}
#controls button:focus {
  outline: 0;
}
#controls button.reset {
  background-color: #E4871B;
}
#controls button.running {
  background-color: #CB3440;
}
#controls button.ready, 
#controls button.stopped {
  background-color: #16913e;
}

#settings {
  margin-top: 20px;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  grid-row-gap: .5em;
  align-items: center;
  justify-content: center;
}
#settings * {
  display: block;
}
#settings h3 {
  grid-column: span 4;
  text-align: center;
  margin: 0 0 5px;
  padding: 0;
}
#settings label {
  padding: 0 8px 0 0;
}
#settings input[type=number] {
  text-align: center;
  padding: 5px;
  font-family: 'Inconsolata', monospace;
  -moz-appearance: textfield;
}
/* Hide the default increment/decrement controls */
#settings input[type=number]::-webkit-outer-spin-button,
#settings input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#settings button {
  border: 0px;
  color: white;
  font-size: 16px;
  background: transparent;
}
