ol, ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body { 
  background-color: #111;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}

#app {
  /* Vertical centring on the page */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #222;
  border-radius: 5px;
}

#display {
  text-align: center;
  font-size: 36px;
  letter-spacing: .15em;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #000;
  border-radius: 5px;
  color: white;
}

#controls {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px;
}

#settings {
  /* Layout for the session and break length
   * adjusters */

}

/* Button layout */
#controls li { text-align: center; }
#controls button {
  cursor: pointer;
  border-radius: 100%;
  border: 0px;
  background-color: #999;
  height: 40px;
  width: 40px;
  color: white;
  font-size: 16px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}
#controls button:focus {
  outline: 0;
}
#controls button#reset {
  background-color: #E4871B;
}
#controls button#stop {
  background-color: #CB3440;
}
#controls button#start {
  background-color: #16913e;
}
